*{
    margin:0;
    padding:0;
}

body{
    background-color:#648DB3;
    text-align: center;
    padding:2px;
}

#container{
    height: 60vh;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0 0 0 0.3);
    font-size: 8vmin;
    color:#52357B;
    background-color: aqua;
}

.reset-bt{
    padding: 1rem;
    margin-top: 15px;
    background-color: black;
    font-size: 1.25rem;
    color: #ffff;
    border-radius: 1rem;
    border: none;

}

#msg{
    color:#ffffc7;
    font-size: 5vmin;
    
}

#msg-container{
    height:30vmin;
    display:none;
   
}

.btt{
    padding: 1rem;
    margin-top: 15px;
    background-color: black;
    font-size: 1.25rem;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}